<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		

		<section class="team-area">
			<div class="container pt-2">
				<div class="row">
					<div class="col-lg-12 m-auto">
						<div class="section-title section-title-style-two text-center">
							<h2 class="sub-title">IT-SHOP</h2>
							<h2 class="title">NHẬT LÊ THIÊN</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/1.jpg" height="450px">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">Lê Thiên Nhật</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/2.jpg" height="450px">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">Lê Thiên Nhật</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<div class="team-item">
							<div class="inner-content">
								<div class="thumb">
									<a href="javascript:(0);">
										<img class="w-100" src="assets/img/team/3.jpg" height="450px">
									</a>
								</div>
								<div class="content">
									<h4 class="title">
										<a href="javascript:(0);">Lê Thiên Nhật</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</main>
</body>
</html>