<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		

		<div class="container">
			<section class="product-area">
				<div class="container product-pb" data-padding-bottom="25">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-lg-7 m-auto">
									<div class="section-title text-center">
										<h2 class="title">New Arrivals</h2>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3" th:each="p:${items}">
									<div class="product-item">
										<div class="inner-content">
											<div class="product-thumb">
												<a th:href="@{|/product/detail/${p.id}|}">
													<img class="product-item m-auto d-block" th:src="@{|/assets/images/${p.image}|}"
														th:title="${p.name}">
												</a>
												<div class="product-action">
													<div class="addto-wrap">
														<a class="add-wishlist" href="javascript:(0);">
															<i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
														</a>
														<a class="add-cart" th:href="@{|/product/detail/${p.id}|}"
															th:attr="ng-click=@{|cart.add(${p.id})|}">
															<i class="zmdi zmdi-shopping-cart-plus icon"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-info">
													<h4 class="title">
														<a th:href="@{|/product/detail/${p.id}|}">[(${p.name})]</a>
													</h4>
													<div class="prices">
														<span class="price">$[[${#numbers.formatDecimal(p.price,0,'COMMA',2,'POINT')}]]</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="row">
				<div class="col-12">
					<div class="pagination-content-wrap border-bottom">
						<nav class="pagination-nav">
							<ul class="pagination justify-content-center">
								<li>
									<button class="prev" ng-click="pager.first()">First</button>
								</li>
								<li>
									<button class="prev" ng-click="pager.prev()">
										<i class="fa fa-chevron-left"></i>
									</button>
								</li>
								<li>
									<a class="active">{{pager.page+1}} of {{pager.count?pager.count:'1'}}</a>
								</li>
								<li>
									<button class="next" ng-click="pager.next()">
										<i class="fa fa-chevron-right"></i>
									</button>
								</li>
								<li>
									<button class="next" ng-click="pager.last()">Last</button>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			
			<section class="brand-logo-area">
				<div class="container">
					<div class="brand-logo-content">
						<div class="row">
							<div class="col-12">
								<div class="swiper-container swiper-slide-gap brand-logo-slider-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/1.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/2.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/3.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/4.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/5.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/1.jpg">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</body>
</html>